%hr
  %ul
    %li
      = link_to 'https://github.com/aniliyidogan/screm.co' do
        = octicon "mark-github", height: 24
    %li
      = link_to about_path do
        = octicon "megaphone", height: 24