.limitter
  .box
    .wrap#about
      .title step by step
      .description
        %p Scrum Master signs in with Google
        %p Shares PIN code with scrum members
        %p Members give a point to the story
        %p Thats it!
      .notice all data will be deleted after 24 hours
