.limitter
  .box
    .wrap#about
      .title step by step
      .description
        %p Scrum Master sign in with Google
        %p Share pin code with members
        %p Give a points to story
        %p Thats it!
      .notice all data deleted after 24 hours